.tab {
    &__content {

    }
    &__item {

        &-user {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            width: 100%;
            padding: 70px 0 0 0;
            position: relative;

            display: none;

            &:first-child { display: flex; }

            &.user[style*="display: block"]{
                display:flex!important;
              }
    
            @media(min-width: 1200px) {
                flex-direction: row;
                align-items: flex-start;
            }
        }
    }
}